*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container {
    width: 100%;
    height: 100vh;
}

nav{
    background-color:rgb(73, 73, 73);
    height: 40px;
}

.navbar ul {
    display: flex;
    list-style: none;
    justify-content: flex-start;
    gap: 7px;
    padding-top: 5px;
    padding-left: 10px;
    font-size: 24px;
    color: white;
}


.navbar ul a {
    text-decoration: none;
    color: rgb(255, 255, 255);
}
.navbar ul button.search{
  border: solid 2px green;
  color: green;
  background-color:transparent;
}
.navbar ul button.search:hover{
    color: white;
    background-color: green;
}

@media  screen and (max-width:768px) {
    nav{
        background-color: rgb(52, 61, 61);
        height: 30%;
        
    }
    .navbar ul {
        padding: 0px;
    }
    .navbar ul li:nth-child(2){
       padding-top: 10px;
    }
    
    .navbar ul li:nth-child(8){
        display: none;
    }
    .navbar ul li:nth-child(3){
        display: none;
    }
    .navbar ul li:nth-child(4){
        display: none;
    }
    .navbar ul li:nth-child(5){
        display: none;
    }
    .navbar ul li:nth-child(6){
        display: none;
    }
    .navbar ul li:nth-child(7){
        display: none;
    }
    
    
    .hamburger div{
        width: 40px;
        height: 10px;
        background-color: black;
        margin: 5px 0px;
        margin-left: 10px;
        display: flex;
       
        
    }
    
}


