:root{
  --black: #011212;
  --orange: #ff8800;
  --widhtball: 100px;
  --heightball: 100px;
  --borderball: 50px;

    }


body {
    background-color: var(--black)
}

.ball {
    width: var(--widhtball);
    height: var(--heightball);
    background-color: var(--orange);
    border-radius: var(--borderball);
}
