.card {
    width: 300px;
    border: 1px solid #ccc;
    border-radius: 5px;
    
    overflow: hidden;
  }
  
  .card img {
    width: 100%;
    height: auto;
    display: block;
  }
  
  .card-content {
    padding: 16px;
  }
  
  .card-content h2 {
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
  }
  
  .card-content p {
    font-size: 1rem;
    line-height: 1.5;
    margin-bottom: 1rem;
  }
  
  .card-content a {
    display: inline-block;
    background-color: transparent;
    color: rgb(10, 70, 107);
    padding: 0.5rem 1rem;
    font-size: 20px;
    

  }
  