:root {
    --first-color: rgb(243, 140, 5)  ;
    --secondary-color: rgb(12, 12, 255) ;   
    --width: 100px;
    --height: 100px;
    --border-radius: 50px;

}

body {
    background-color: var(--first-color);
}

.ball {
    width: var(--width);
    height: var(--height);
    background-color:var(--secondary-color);
    border-radius: var(--border-radius);
}
